@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
  }
  
  html {
    font-family: var(--font-inter);
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

